@font-face {
    font-family: GothamNarrowLight;
    src: url(../fonts/Gotham/Gotham%20Narrow/GothamNarrow-Book.otf);
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham/GothamBold.otf);
}
html, body,*{
	font-family: GothamNarrowLight!important;
	font-weight: 100!important;
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
	font-family: Gotham!important;

}
table, tr, td{
	border-style: solid;
	border-width: 1px;
}
.stripped:nth-child(odd){`
}
th{
	font-style: 1.5em;
	background-color: none!important;
	text-align: center;
}
#content{
	/*padding: 3em 3em 3em 3em;*/
	/*background-color: white;*/
	/*border:none;*/
	box-shadow: 0px 10px 1em 0px gray!important;
}

#staticContent{
	box-shadow: 0px 10px 1em 0px gray!important;
	height: 40em;
	position: static;
	overflow-y:scroll; 

}
.main{
	/*padding:0em 13em 0em 13em;*/
	/*width: 75%;*/
	/*background-color: #A88AA6;*/
	position: relative;
	z-index: 10;
}
.mynav{
	padding-top: 2em;
}
ul li{
	padding-top: 3em!important;

}
.navbar-brand{
	height: 57px!important;


}
nav.navbar.navbar-default{
	height: 6em;
	margin-bottom: 0;
	border-radius: 0;
	background-color: #F4F4F4;
	background-image: none;
	border:none;
	border-color: #F4F4F4!important;


}
nav.navbar.navbar-default *{
	text-align: left;
	background-color: #F4F4F4;
	background-image: none;
}
html{
	/*background-image: url('../site BG.png')!important;*/
	/*background-color: */
/*	background-size: 80% 80%!important;

	background-repeat: repeat;
	background:url('../site BG 20op.png');*/
	/*height: 100%!important;*/
	/*background:url('../site BG 20op.png');*/
	background:url('../resources/VA-BG.png')!important;
	height: 100%!important;
	width: 100%!important;
	background-size: 100em 90em;


}
.nav li{
	white-space: nowrap;
}

.in{
	margin-top: 1.5em;
}

body{
	background-color:transparent!important;
	height: 100%!important;
	min-height: 100%!important;

	width: 100%!important;
	position: relative;
}
#logo{
	/*margin: auto auto;*/
	height: inherit;
	width: inherit;
		/*padding:10em 13em 0em 13em;*/

}
h2{
	text-align: left;
	margin: 0em;
}
.header{
		/*padding:0em 12em 0em 12em;*/
		/*background-color: #A88AA6;*/
	position: relative;
	z-index: 50;
}
.header div{
	/*background-color: white;*/
}
footer{
			padding:0em 13em 0em 13em;

}
hr{
	border-top:3px solid #9696AE!important;
	margin: auto auto !important;
	width: 75%;
	position: center;
}
li a{
	color: black;
	font-size: 1.2em;
	font-family: serif;
}
.well{
	background-color:white!important;
	box-shadow: none!important;
	background-image: none!important;
	border:none!important;
	border-radius: 1px!important;
	padding: 4em!important;


}
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.graySearch{
	border-radius: 0!important;
	background-color: #F4F4F4!important;
	border:none!important;
	box-shadow: none!important;
	border-color: #F4F4F4!important;
}
/*form,input{
	border-radius: 0!important;
	background-color: #F4F4F4!important;
	border:none!important;
	box-shadow: none!important;
	border-color: #F4F4F4!important;
}
*/.noColor .form-control{
	background-color: none!important;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/*.row-fluid {
    word-wrap: break-word;  
}*/
.container-fluid{
	padding: 0!important;
}
.panel-group .panel
{
  overflow: visible;
}

#medImg{
	width: 160px;
	height: 192px;
	/*margin: 1em 0em 0em 3em;*/
	float: left;
	margin: auto auto;
}
.grayWell{
	border-radius: 0!important;
	background-color: #F4F4F4!important;
	border:none!important;
	box-shadow: none!important;
	border-color: #F4F4F4!important;
}
#clearBtn{
	float: right;
	margin-top: 1em;
	margin-bottom: 1em;
}
.grayBox{
	background-color: gray;
}
.abs{
	position: absolute!important;
}
@media screen and (max-width: 989px){
	.abs{
		position: relative!important;
	}

}
@media screen and (min-width: 767px){
	.medImg{
		position: absolute!important;
		margin: 0em 0em 0em 39%;

	}
	.abs h4{
		padding-top: 0;
	}	
}

.abs img, .abs h4{
	position: relative;
}
.abs h4{
	margin: auto auto;
	padding-top: 12em;
}

/*bubble divs from http://www.ilikepixels.co.uk/drop/bubbler/*/
.bubble 
{
position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #B34FFF;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #B34FFF;
display: block;
width: 0;
z-index: 1;
right: -15px;
top: 45px;
}
.clearfix{
	clear: both;
}
.uk-progress-bar{
	background-color: #632D91!important;
	border-radius: 1em;
}
.uk-progress.uk-progress-striped{
	background-color: #A0A0A0;
	border-radius: 1em;
}
.glyphicon{
	 font-family:'Glyphicons Halflings'!important;
}

