<div id="content">	
	<div class="well">
		<h2>About Us</h2>
		<p>We believe the American democracy has lost steam because of all of the lies from politicians, special interest groups, and bedia biases. We are going to cut through the political haze and give factual reprots on what politicians are actualy doing. We will do this with our objective number crunching of politicians' voting records</p>
		<p>
			Steps on how the comptuer analysis works
			<ol>
				<li>All bills are designated as for or against a specific issue (Once a bill is designated for or against an issue, we have no input)</li>
				<li>The politician's voting record is then placed in the computer formula</li>
				<li>Politicians' are then given percentages for their tendencies to vote for or against each individual issue. Politicians are encouraged by VoterAware to provide written reasoning for their stances and voting records.</li>
			</ol>
		</p>

	</div>
</div>
