<div id="content">	
	<div class="inner-addon left-addon">
	    <i class="glyphicon glyphicon-search"></i>
	    <input type="text" class="form-control" placeholder="Search..." data-ng-model="search.person.name"/>
	    <a href="" data-ng-click="adv=1" data-ng-show="!adv">Advanced Search</a>
	    <div data-ng-show="adv">	  
	     </br>  
	      State: <select data-ng-model="search.state">
	      	<option data-ng-repeat="x in states">{{x}}</option>
	      </select>
	      </br>

	      Party: 
	      	<input type="radio" value="Democrat" data-ng-model="search.party" name="party"> Democrat</input>

	      <input type="radio" value="Republican" name="party"> Republican</input>
	      </br>
	      <button data-ng-click="clear()">Clear</button>
	      </br>
	      </br>
	  	  <a href="" data-ng-click="adv=0">Less</a>
		</div>
	</div>
	<table class="table">
		<tr data-ng-repeat="x in currentCongress|filter:search:strict">
			<td><img src="https://www.govtrack.us/data/photos/{{x.person.id}}-100px.jpeg"></td>
			<td><a href="#/congress/{{x.person.id}}">{{x.person.name}}</a></td>
			<!-- <td>{{x.state}}</td> -->
			<!-- <td><a href="https://www.govtrack.us/api/v2/person/{{x.person.id}}">{{x.person.name}}</a></td> -->

		</tr>
	</table>
</div>
