<!-- {{congressDetails}} -->
<img src="https://www.govtrack.us/data/photos/{{congressDetails.id}}-100px.jpeg">
<!-- {{billNames.title}} -->
<table>
	<tr><th>Bill ID?</th><th>BILL ID</th><th>Bill Name</th><th>vote.vote_type</th><th>Vote</th></tr>
	<tr data-ng-repeat="x in votedBills" class="stripped">
		<td >
			{{x.option.id}}
		</td>
		<td>
			{{x.vote.id}}
		</td>
		<td>
			{{billNames[$index].title}}

		</td>
		<td>
			{{x.vote.vote_type}}
		</td>
		<td>
			{{x.option.value}}
		</td>
<!-- 		<td>
			{{x.vote.category_label}}
		</td> -->

	</tr>
</table>

<!-- <table>
	<tr data-ng-repeat="x in billNames">
		<td>{{x}}</td>
	</tr>
</table> -->
