<div id="content">
	<div class="well">
		<h2>We want you to know who your politician is</h2>
		<p>As citizens of the United States, you have the right to representation in government. But lately, politicians seem to take that right for granted, saying one thing and voting a different way.</p>
		<p>VoterAware wants to give some power back to the people. We track politicians and maintain lists of their voting habits, giving you access to that information.</p>
		<h2>DISCLAIMER</h2>
		<p>Steps to how the computer analysis works:
		<ol>
				<li>All bills are designated as for or against a specific issue (Once a bill is designated for or against an issue, we have no input)</li>
				<li>The politician's voting record is then placed in the computer formula</li>
				<li>Politicians' are then given percentages for their tendencies to vote for or against each individual issue. Politicians are encouraged by VoterAware to provide written reasoning for their stances and voting records.</li>
			</ol>
		</p>
	</div>

</div>
