<div class="row">
	<div  id="content"class="well col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
		<h2>Find out how politicians vote</h2>
		<div class="inner-addon left-addon">
			<form >
				<i class="glyphicon glyphicon-search"></i>
		   		<input type="text" class="form-control graySearch" placeholder="Search..." data-ng-model="search"/>
			</form>
		</div>
		<h2>DISCLAIMER</h2>
		<p>Steps to how the computer analysis works:
		<ol>
				<li>All bills are designated as for or against a specific issue (Once a bill is designated for or against an issue, we have no input)</li>
				<li>The politician's voting record is then placed in the computer formula</li>
				<li>Politicians' are then given percentages for their tendencies to vote for or against each individual issue. Politicians are encouraged by VoterAware to provide written reasoning for their stances and voting records.</li>
			</ol>
		</p>
	</div>

</div>
